<h1 class="tw text-center fw-bold font-monospace mt-5 mb-5 "></h1>
<div id="carouselExampleIndicators" class="carousel slide carousel-fade  h-75 " data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner h-100 align-content-center">
      <div class="carousel-item active h-100">
        <img style="object-fit: cover;" src="../../../../assets/pexels-vojtech-okenka-392018.jpg" class="d-block w-100 h-100" alt="...">
      </div>
      <div class="carousel-item h-100">
        <img style="object-fit: cover;" src="../../../../assets/we-are-hiring-concept.jpg" class="d-block w-100 h-100" alt="...">
      </div>
      <div class="carousel-item h-100">
        <img style="object-fit: cover;" src="../../../../assets/annie-spratt-QckxruozjRg-unsplash.jpg" class="d-block w-100 h-100" alt="...">
      </div>
      <div class="carousel-item h-100">
        <img style="object-fit: cover;" src="../../../../assets/work-7157268_1920.png" class="d-block w-100 h-100" alt="...">
      </div>      
      <div class="carousel-item h-100">
        <img style="object-fit: cover;" src="../../../../assets/dream-job-2904780_1920.jpg" class="d-block w-100 h-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="mt-3 mb-5">
      <h1 class="text-center fst-italic fw-bold ">Our Branded Partners...</h1>
    </div>
    <div class="row logos pb-4 pt-5 rounded-top-5 bg-light justify-content-center">
      <div class="col-2"><img src="../../../../assets/home-svg/google.svg" alt="Google"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/infosys.svg" alt="Infosys"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/intel.svg" alt="Intel"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/microsoft.svg" alt="Microsoft"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/tesla.svg" alt="Tesla"></div>
    </div>
    <div class="row logos bg-light justify-content-center pb-4">
      <div class="col-2"><img src="../../../../assets/home-svg/infoq.svg" alt="InfoQ"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/ibm.svg" alt="IBM"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/hyundai.svg" alt="Hyundai"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/oracle.svg" alt="Oracle"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/cognizant.svg" alt="Cognizant"></div>
    </div>
    <div class="row logos bg-light justify-content-center pb-4 ">
      <div class="col-2"><img src="../../../../assets/home-svg/amazon.svg" alt="Amazon"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/tcs.svg" alt="TCS"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/wipro.svg" alt="Wipro"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/adobeacrobatreader.svg" alt="Adobe Acrobat Reader"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/adp.svg" alt="ADP"></div>
    </div>
    <div class="row logos rounded-bottom-5 bg-light justify-content-center pb-5">
      <div class="col-2"><img src="../../../../assets/home-svg/accenture.svg" alt="Accenture"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/siemens.svg" alt="Siemens"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/relianceindustrieslimited.svg"
          alt="Reliance Industries Limited"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/walmart.svg" alt="Walmart"></div>
      <div class="col-2"><img src="../../../../assets/home-svg/volkswagen.svg" alt="Volkswagen"></div>
    </div>
  </div>
  
        
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
          <div class="container">
              <h1 class="text-center mb-5">Our Clients Say!!!</h1>
              <div class="owl-carousel testimonial-carousel">
                  <div class="testimonial-item bg-light rounded p-4">
                      <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                      <p>"I stumbled upon CareerCrafter when I was feeling lost in my job search. The personalized recommendations and support I received were truly exceptional. Thanks to CareerCrafter, I landed my dream job in no time!"</p>
                      <div class="d-flex align-items-center">
                          <img class="img-fluid flex-shrink-0 rounded" src="../../../assets/img/testimonial-1.jpg" style="width: 50px; height: 50px;">
                          <div class="ps-3">
                              <h5 class="mb-1">Ava Sparkle</h5>
                              <small>Software Developer</small>
                          </div>
                      </div>
                  </div>
                  <div class="testimonial-item bg-light rounded p-4">
                      <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                      <p>"As a recruiter, time is of the essence. CareerCrafter not only saved me hours of screening candidates but also provided access to a diverse talent pool. I highly recommend CareerCrafter to any employer looking to streamline their hiring process."</p>
                      <div class="d-flex align-items-center">
                          <img class="img-fluid flex-shrink-0 rounded" src="../../../assets/img/testimonial-2.jpg" style="width: 50px; height: 50px;">
                          <div class="ps-3">
                              <h5 class="mb-1">Max Maverick</h5>
                              <small>Software Developer</small>
                          </div>
                      </div>
                  </div>
                  <div class="testimonial-item bg-light rounded p-4">
                      <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                      <p>"Employer branding was never a priority for us until we discovered CareerCrafter. The platform not only helped us attract top talent but also showcased our company culture in the best light possible. Joining CareerCrafter was one of the best decisions we made for our recruitment strategy."</p>
                      <div class="d-flex align-items-center">
                          <img class="img-fluid flex-shrink-0 rounded" src="../../../assets/img/testmonial/testimonial-3.jpg" style="width: 50px; height: 50px;">
                          <div class="ps-3">
                              <h5 class="mb-1">Stella Starlight</h5>
                              <small>Software Developer</small>
                          </div>
                      </div>
                  </div>
                  <div class="testimonial-item bg-light rounded p-4">
                      <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                      <p>"From resume assistance to interview preparation, CareerCrafter has been my go-to resource throughout my job hunt. The exceptional support team made me feel valued and supported every step of the way. Thank you, CareerCrafter, for helping me unlock my full potential!"</p>
                      <div class="d-flex align-items-center">
                          <img class="img-fluid flex-shrink-0 rounded" src="../../../assets/img/testmonial/testimonial-4.jpg" style="width: 50px; height: 50px;">
                          <div class="ps-3">
                              <h5 class="mb-1"> Luna Luxe</h5>
                              <small>Software Developer</small>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
