<div *ngIf="loading; else content" class="loading-container" style="min-height: 90vh;">
    <div class="spinner"></div>
</div>

<ng-template #content>
    <div class="job-list-container" *ngIf="jobList.length > 0; else noData">
        <h2 class="job-title">Job Listings</h2>
        <ul class="job-list">
            <li *ngFor="let job of jobList" class="job-item">
                <div class="job-content hovereffect">
                    <h3 class="job-title">{{ job.jobTitle }}</h3>
                    <div class="overlay">
                        <h2>{{ job.jobTitle }}</h2>
                    </div>
                    <p class="job-details"><strong>Listing ID:</strong> {{ job.listingId }}</p>
                    <p class="job-details"><strong>Employer ID:</strong> {{ job.employerId }}</p>
                    <p class="job-details"><strong>Job Description:</strong> {{ job.jobDescription }}</p>
                    <p class="job-details"><strong>Company Name:</strong> {{ job.companyName }}</p>
                    <p class="job-details"><strong>Hiring Workflow:</strong> {{ job.hiringWorkflow }}</p>
                    <p class="job-details"><strong>Eligibility Criteria:</strong> {{ job.eligibilityCriteria }}</p>
                    <p class="job-details"><strong>Required Skills:</strong> {{ job.requiredSkills }}</p>
                    <p class="job-details"><strong>About Company:</strong> {{ job.aboutCompany }}</p>
                    <p class="job-details"><strong>Location:</strong> {{ job.location }}</p>
                    <p class="job-details"><strong>Salary:</strong> {{ job.salary }}</p>
                    <p class="job-details"><strong>Posted Date:</strong> {{ job.postedDate | date: 'medium' }}</p>
                    <p class="job-details"><strong>Deadline:</strong> {{ job.deadline | date: 'medium' }}</p>
                    <p class="job-details"><strong>Vacancy of Job:</strong> {{ job.vacancyOfJob }}</p>
                </div>
                <button class="btn btn-primary me-2" *ngIf="isJobSeeker()" (click)="apply(job.listingId)">Apply</button>
                <button class="btn btn-primary"  routerLink="view/{{job.listingId}}">View</button>
            </li>
        </ul>
    </div>

    <ng-template #noData>
        <p class="no-data">No job listings available.</p>
    </ng-template>
</ng-template>
