<section class="form-02-main">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="_lk_de">
			<div class="form-03-main">
			  <div class="logo">
				<img src="../../../assets/images/user.png">
			  </div>
								<!-- Title -->
								<h3 class="mb-2 h3 fw-bolder text-center " style="font-size: 2rem;">Forgot Password?</h3>
								<p class="mb-0 text-center" style="font-size: 1.2rem;">Enter the email address associated with an account.</p>
	
								<!-- Form START -->
								<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-4 p-3 text-start d-flex flex-column gap-2">
					
                  				<div>
                    				<label class="mb-2 ms-3 h5 fw-bolder text-center " for="email">Email<span class="mand">*</span></label>
                    				<input class="form-control" placeholder="Enter email" type="email" formControlName="email" id="email">
                    				<small *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                      				<small *ngIf="loginForm.get('email').errors['required']">Email is required.</small>
                      				<small *ngIf="loginForm.get('email').errors['email']">Invalid email format.</small>
                    			</small>
                  				</div>
                
                  					<button type="submit" class="btn btn-primary w-100 mb-0 mt-3 p-2" [disabled]="loginForm.invalid">Reset Password</button>               
                				</form>
								<!-- Form END -->
							</div>
						</div>
					  </div>
					</div>
				  </div>
				</section>