<div class=" py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
        <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">About</li>
            </ol>
        </nav> -->
    </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="../../../assets/img/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="../../../assets/img/about-2.jpg" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid" src="../../../assets/img/about-3.jpg" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="../../../assets/img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h4 class="mb-4">We Help To Get The Best Job And Find A Talent</h4>
                <p class="mb-4">At CareerCrafter, we understand the challenges both job seekers and employers face in today's competitive market. That's why we're dedicated to bridging the gap between talent and opportunity, ensuring the perfect match every time.</p>
                <p class="mb-4"><strong>Job Seekers:</strong> </p>
                <p><i class="fa fa-check text-primary me-3"></i>Personalized Job Recommendations</p>
                <p><i class="fa fa-check text-primary me-3"></i>Expert Career Resources</p>
                <p><i class="fa fa-check text-primary me-3"></i>Networking Opportunities</p>
                <p class="mb-4"><strong>Employers:</strong></p>
                <p><i class="fa fa-check text-primary me-3"></i>Targeted Candidate Search</p>
                <p><i class="fa fa-check text-primary me-3"></i>Efficient Hiring Process</p>
                <p><i class="fa fa-check text-primary me-3"></i>Employer Branding</p>
                
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="text-center mb-5">Our Clients Say!!!</h1>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>"I stumbled upon CareerCrafter when I was feeling lost in my job search. The personalized recommendations and support I received were truly exceptional. Thanks to CareerCrafter, I landed my dream job in no time!"</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="../../../assets/img/testimonial-1.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Ava Sparkle</h5>
                        <small>Software Developer</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>"As a recruiter, time is of the essence. CareerCrafter not only saved me hours of screening candidates but also provided access to a diverse talent pool. I highly recommend CareerCrafter to any employer looking to streamline their hiring process."</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="../../../assets/img/testimonial-2.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Max Maverick</h5>
                        <small>Software Developer</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>"Employer branding was never a priority for us until we discovered CareerCrafter. The platform not only helped us attract top talent but also showcased our company culture in the best light possible. Joining CareerCrafter was one of the best decisions we made for our recruitment strategy."</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="../../../assets/img/testmonial/testimonial-3.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Stella Starlight</h5>
                        <small>Software Developer</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>"From resume assistance to interview preparation, CareerCrafter has been my go-to resource throughout my job hunt. The exceptional support team made me feel valued and supported every step of the way. Thank you, CareerCrafter, for helping me unlock my full potential!"</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="../../../assets/img/testmonial/testimonial-4.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1"> Luna Luxe</h5>
                        <small>Software Developer</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>