.post-listing-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.form-check-input {
    margin-right: 10px;
}



.form-02-main {
    background: url(../../../../assets/images/bg-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px 50px 25px;
    margin-bottom: -3rem;
    position: relative;
    overflow: hidden;
    
    }
    
    .form-03-main{
    padding:25px 25px 25px;
    background:rgba(255,255,255,0.6);
    border-radius:15px;
    }
